@model List<MvcMusicStore.Models.Album>

	<div class="imageSlider">
		<ul id="album-list">
			@foreach (var album in Model)
			{
				<li>
					<a href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
						<img alt="@album.Title" src="@album.AlbumArtUrl" />
						<span>@album.Title</span>
					</a>
				</li>
			}
		</ul>
	</div>
